.header {
    border: 10px black;
    flex-flow: wrap;
}

.logo{
    width: 10%;
}

.menuItems > ul > li {
    list-style-type: none;
}

.restoContainer {
border: 10px black;
border-color: black;

}

